<div class="row">
    <div class="d-flex flex-column">
    <div class='container p2'
         #stickyCard
         [class.sticky] = "stickyCard"
    >
        <form [formGroup]="userFormGroup">

            <div class="form-group">
                <label>Card Type</label>
                <select formControlName="cardType" class="form-control">
                    <option [value]="cardType" *ngFor="let cardType of creditCardTypes">{{cardType}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Card Number</label>
                <input type="text" formControlName="creditCard" class="form-control"  />

            </div>
        </form>
        <button class="btn btn-primary col-2 p2 stickyCard"
                [routerLink]="['payForm']"
                (click)="sendCardNumber()">
            Paiement
        </button>
    </div>

    </div>

    <jhi-creditcard (selectedCardEvent)="receiveSelectedCard($event)" class="col-1"></jhi-creditcard>
</div>


