<div class="footer">
        <div class="row">
            <div class="col-sm-4" align="center">
                <h5>SERVICE CLIENT</h5>
                <a href="">
                    <h6>Nous contacter</h6>
                </a>
                <a href="">
                    <h6>Livraison</h6>
                </a>
            </div>
            <div class="col-sm-4" align="center">
                <h5>&#192; PROPOS</h5>
                <a href="">
                    <h6>CGU</h6>
                </a>
                <a href="">
                    <h6>Mentions légales</h6>
                </a>
            </div>
            <div class="col-sm-4" align="center">
                <h5>NOS R&#201;SEAUX</h5>
                <a href="https://twitter.com/lampaderum" target="_blank">
                    <h6>Twitter</h6>
                </a>
                <a href="https://www.instagram.com/lampaderuminc/" target="_blank">
                    <h6>Instagram</h6>
                </a>
            </div>
        </div>
</div>
