<form name="form" role="form" (ngSubmit)="getSearch()" [formGroup]="settingsForm">
    <div class="form-group">
        <label for="search" >Recherche</label>
        <input type="text" id="search" name="search" formControlName="search">


        <button type="submit" class="btn btn-primary" ><fa-icon icon="search"></fa-icon></button>

        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" name= "plusde40000" id="plusde40000" value="true" formControlName="plusde40000" checked="">
            <label class="custom-control-label" for="plusde40000">Prix > 40 000€</label>
        </div>

    </div>
</form>

<p class="lead">
    <button type="button" class="btn btn-outline-primary btn-sm btn-block"
            (click)="setListLayout(true)"
            [hidden]="isListLayout"
    >Afficher sous forme de liste</button>

    <button type="button" class="btn btn-outline-primary btn-sm btn-block"
            (click)="setListLayout(false)"
            [hidden]="!isListLayout"
    >Afficher sous forme de grille</button>
</p>


<div class="row card-deck" [hidden]="isListLayout">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of productOrders">
        <div class="card text-center">
            <div class="card-header">
                <h4>{{order.product.libstreetlamp}}</h4>
            </div>
            <div class="card-body">
                <a href="" [routerLink]="[order.product.id, 'view']"><img class="card-img-top" src={{order.product.imagepathstreetlamp}} alt="Image not found :'("></a>
                <!--<h5 class="card-title">${{order.product.price}}</h5>-->
                <div class="row">
                    <div class="col-4 padding-0">
                        <input type="number" min="0" class="form-control"
                               [(ngModel)]=order.quantity
                                [disabled]="isProductSelected(order.product)">
                    </div>
                    <div class="col-4 padding-2" *ngIf="isProductSelected(order.product)">
                        <button class="btn btn-primary"
                                (click)="removeFromCart(order)">Retirer
                        </button>
                    </div>
                    <div class="col-4 padding-2" *ngIf="!isProductSelected(order.product)">
                        <button class="btn btn-primary" (click)="addToCart(order)"
                                [disabled]="order.quantity <= 0">Ajouter
                        </button>
                    </div>
                    <div>
                        <button type="submit"
                                [routerLink]="['/home', order.product.id, 'view']"
                                class="btn btn-primary">Details
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" [hidden]="!isListLayout">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Modele</th>
        <th scope="col">Ampoule</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantités</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-active" *ngFor="let order of productOrders">
        <th scope="row">{{order.product.libstreetlamp}}</th>
        <td>{{order.product.modelestreetlamp}}</td>
        <td>{{order.product.modelelampe}}</td>
        <td>{{order.product.pricestreetlamp}}</td>
        <td>
            <div class="row">
                <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                    <input type="number" min="0" class="form-control"
                           [(ngModel)]=order.quantity>
                </div>
                <div class="col-4 padding-0" *ngIf="!isProductSelected(order.product)">
                    <button class="btn btn-primary btn-block" (click)="addToCart(order)"
                            [disabled]="order.quantity <= 0">Ajouter
                    </button>
                </div>
                <div class="col-4 padding-0">
                    <button type="submit"
                            [routerLink]="['/home', order.product.id, 'view']"
                            class="btn btn-primary">Details
                    </button>
                </div>
                <div class="col-12" *ngIf="isProductSelected(order.product)">
                    <button class="btn btn-primary btn-block"
                            (click)="removeFromCart(order)">Retirer
                    </button>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
