<div class="jumbotron">
    <h4 class="display-3">Profil</h4>
    <hr class="my-4">
    <h5>Informations personnelles :</h5>
    <hr class="my-4">
    <div style="margin-left: 2em">
        <p>Prénom : {{ Account!.firstName}}</p>
        <p>Nom : {{ Account!.lastName}}</p>
    </div>
    <hr class="my-4">
    <h5>Informations liées au compte :</h5>
    <hr class="my-4">
    <div style="margin-left: 2em">
        <p>Login : {{ Account!.login}}</p>
        <p></p>
        <p>Adresse e-mail : {{ Account!.email}}</p>
        <p></p>
        <p>Numéro de Siret : {{applicationUser!.siret}}</p>
        <p></p>
    </div>
    <hr class="my-4">
    <h5>Accéder à : </h5>
    <hr class="my-4">
    <div style="margin-left: 2em">
        <a href="../../account/order" target="_blank">
            <h6>Mes commandes</h6>
        </a>
        <a href="../../account/creditcards" target="_blank">
            <h6>Mes cartes de crédit</h6>
        </a>
    </div>
</div>



