<a routerLink="../../account/order"  >
    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
    <span>Voir Commande</span>
</a>
<a routerLink="../../account/creditcard"  >
    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
    <span>Voir carte de crédit</span>
</a>
<div>
    <p>Prénom :</p>
    <p>{{ Account!.firstName}}</p>
    <p>Nom :</p>
    <p>{{ Account!.lastName}}</p>
    <p>e-mail :</p>
    <p>{{ Account!.email}}</p>
    <p>Siret</p>
    <p>{{applicationUser!.siret}}</p>
    <p>plop</p>
    <p>plop</p>
    <p>{{creditcard[0].numcarte}}</p>
    <p>{{creditcard[1].numcarte}}</p>
    <p>{{creditcard[2].numcarte}}</p>
    <p>plop</p>
    <p>plop</p>
    <p>{{sorders![0]!.datecommande!.calendar()}}</p>
    <p>{{sorders![1]!.datecommande!.calendar()}}</p>
    <p>{{sorders![1]!.id}}</p>
    <p>plop</p>
    <p>plop</p>
    <p>{{sorders![1]!.roworders![0]!.price}}</p>
    <p>plop</p>
    <p>{{sorders![1]!.roworders![1]!.price}}</p>
    <p>plop</p>
    <p>{{sorders![1]!.roworders!.length}}</p>
</div>
