<a routerLink="../../account/order"  >
    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
    <span>Voir Commande</span>
</a>
<a routerLink="../../account/creditcard"  >
    <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
    <span>Voir carte de crédit</span>
</a>
<div>
    <p>Prénom :</p>
    <p>{{ Account!.firstName}}</p>
    <p>Nom :</p>
    <p>{{ Account!.lastName}}</p>
    <p>Login :</p>
    <p>{{ Account!.login}}</p>
    <p>e-mail :</p>
    <p>{{ Account!.email}}</p>
    <p>Siret :</p>
    <p>{{applicationUser!.siret}}</p>
</div>
