<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rowcart-heading" jhiTranslate="lampaderumApp.rowcart.home.createOrEditLabel">Create or edit a Rowcart</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lampaderumApp.rowcart.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lampaderumApp.rowcart.streetlamp" for="field_streetlamp">Streetlamp</label>
                    <select class="form-control" id="field_streetlamp" name="streetlamp" formControlName="streetlampId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="streetlampOption.id" *ngFor="let streetlampOption of streetlamps; trackBy: trackById">{{ streetlampOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lampaderumApp.rowcart.cartpersi" for="field_cartpersi">Cartpersi</label>
                    <select class="form-control" id="field_cartpersi" name="cartpersi" formControlName="cartpersiId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cartpersiOption.id" *ngFor="let cartpersiOption of cartpersis; trackBy: trackById">{{ cartpersiOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
