<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rowcart">
            <h2><span jhiTranslate="lampaderumApp.rowcart.detail.title">Rowcart</span> {{ rowcart.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="lampaderumApp.rowcart.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ rowcart.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="lampaderumApp.rowcart.streetlamp">Streetlamp</span></dt>
                <dd>
                    <div *ngIf="rowcart.streetlampId">
                        <a [routerLink]="['/streetlamp', rowcart.streetlampId, 'view']">{{ rowcart.streetlampId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="lampaderumApp.rowcart.cartpersi">Cartpersi</span></dt>
                <dd>
                    <div *ngIf="rowcart.cartpersiId">
                        <a [routerLink]="['/cartpersi', rowcart.cartpersiId, 'view']">{{ rowcart.cartpersiId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rowcart', rowcart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
