<div>

    <div [ngSwitch]="isAuthenticated()">
        <div class="alert alert-dismissible alert-success" *ngSwitchCase="true">
            <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                  [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
    </div>

    <div class="alert alert-dismissible alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur Lampadérum !</h1>
    <hr class="my-4">
    <div>
        <fa-icon icon="flag"></fa-icon><span> Site en construction </span><fa-icon icon="flag"></fa-icon>
        <p>Vous trouverez prochainement les promotions sur nos articles sur cette page.</p>
    </div>
</div>
