<div class="row justify-content-center">
    <div class="col-md-9" style="max-width: 80%">
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img class="card-img-top"  alt="Image not found :'(" src=""></a>
            </div>
            <div class="col-md-5">
                <div *ngIf="streetlamp">
                    <h1><b>{{ streetlamp.libstreetlamp }}</b></h1>

                    <h4><b>Caractéristiques du lampadaire : </b></h4>

                    <dl class="row-md jh-entity-details" >

                        <dt><span>Modèle :</span></dt>
                        <dd>
                            <span>{{ streetlamp.modelestreetlamp }}</span>
                        </dd>
                        <dt><span >Durée de vie :</span></dt>
                        <dd>
                            <span>{{ streetlamp.dureeviestreetlamp }} {{ streetlamp.uniteviestreetlamp }}</span>
                        </dd>
                        <dt><span >Matériau :</span></dt>
                        <dd>
                            <span>{{ streetlamp.materiaustreetlamp }}</span>
                        </dd>

                        <h4><b>Caractéristiques de l'ampoule : </b></h4>

                        <dt><span >Type :</span></dt>
                        <dd>
                            <span>{{ streetlamp.liblampe }}</span>
                        </dd>
                        <dt><span >Puissance :</span></dt>
                        <dd>
                            <span>{{ streetlamp.pwlampe }}</span>
                        </dd>
                        <dt><span >Forme :</span></dt>
                        <dd>
                            <span>{{ streetlamp.formelampe }}</span>
                        </dd>
                        <dt><span >Référence :</span></dt>
                        <dd>
                            <span>{{ streetlamp.modelelampe }}</span>
                        </dd>
                        <dt><span >Durée de vie :</span></dt>
                        <dd>
                            <span>{{ streetlamp.dureevielampe }} {{ streetlamp.unitevielampe }}</span>
                        </dd>
                        <dt><span >Tension :</span></dt>
                        <dd>
                            <span>{{ streetlamp.voltlampe }} Volts</span>
                        </dd>
                        <dt><span >Température :</span></dt>
                        <dd>
                            <span>{{ streetlamp.templampe }}</span>
                        </dd>

                        <h4><b>Stock disponible :</b></h4>
                        <dd>
                            <span>{{ streetlamp.stockstreetlamp }}</span>
                        </dd>
                    </dl>
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-primary btn-lg">
                        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span >Retour</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
    <jhi-shopping-cart #shoppingCartC></jhi-shopping-cart>
    </div>
</div>
